body {
  font-family: 'Helvetica', sans-serif
}

.comment {
  padding: 10px 0;
  border-top: 1px solid grey;
  margin-left: 30px;
  font-size: 12px;
}

.title {
  font-size: 15px
}

.user {
  font-style: italic;
}